body{
    font-family: sans-serif;
    height: 100%;
    background-color: rgb(237, 240, 245);
    width: 100%;
}
.page{
    display: flex;
    flex-direction: column;
}
.top{background-color:#405e9a ;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around ;
    color: white;
}
.iden{
    width: 30%;
    padding-top:25px ;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
.fac{
    font-size: 40px;
    font-weight: bold;
    padding-top: 25px;
    text-align: center;
    width: 20%;
}
.sub{
    padding-top: 15px;
}
#log{
    background-color: rgb(37, 102, 232);
    border: 1px solid rgb(37, 102, 232);
    border-radius: 4px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    width: 75px;
    height: 25px;
}
#mail,#passwor{
    height: 20px;
    width: 318px;
    border-radius: 2px;
    background-color: white;
}
.mail,.pass{
    padding-right:5px ;
}
#fort{
    opacity: 45%;
}
.section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 150px;
}
.droite img{
    width: 15px;
    height: 15px;
}
.image{
    width: 50px;
    height: 50px;
}
.gras{
    font-weight: bold;
}
.tex{
    padding-left: 5px;
    font-weight: bolder;
}
h2{
    font-weight: bold;
    font-size: 30px;
}
.droite{
   width: 400px;
}
.l{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
}
.gauche {
    width: 500px;
}
input{
    margin: 5px;
}
.al{
    font-size: 18px;
}
#nam{
    width: 150px;
    height: 25px;
    border-radius: 5px;
    background-color: white;
}
#up{
    background-color:#5d9549;
    width: 150px;
    height: 30px;
    border-radius: 7px;
    font-weight: bold;
    color: white;
    font-size: 15px;
}
a{
    text-decoration: none;
} 
@media all and (min-width: 1024px) and (max-width: 1280px){
    .top {
        background-color: #405e9a;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        color: white;
     }
}
@media all and (max-width: 880px){
    .top {
        background-color: #405e9a;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        color: white;
    }
}
@media all and (min-width: 320px) and (max-width: 490px){
    .iden{
        width: 30%;
        padding-top:25px ;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
    } 
    #log{
        font-size: 10px;  
    } 
    h2{
        font-size: 15px;
    }     
}